<ion-header>
  <ion-toolbar>
    <ion-title>
        Resevation chez MK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Perspiciatis, doloremque officiis facere,
  </p>
    <ion-item>
      <ion-label position="floating">Votre Nom</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Votre Prenom</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Votre telephone</ion-label>
      <ion-input type="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">D MMM YYYY H:mm</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" min="2019" max="2100"  value="2019-01-17T11:06Z"></ion-datetime>
    </ion-item>
    <ion-button expand="full" >Confirmer</ion-button>

</ion-content>
