<ion-header>
  <ion-toolbar>
    <ion-title>
        Resevation chez MK
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>J'ai mis cette application pour pouvoir
    aider tout le monde à bénéficier de main création et de
    prendre une réservation de coiffure signer mk.
  </p>
  <form [formGroup]="createMessageForm" (submit)="createMessage()">
    <ion-item>
      <ion-label position="floating">Votre Nom</ion-label>
      <ion-input type="text" formControlName="nomEmet"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Votre Prenom</ion-label>
      <ion-input type="text" formControlName="nomPrenom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Votre telephone</ion-label>
      <ion-input type="tel" formControlName="telephone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">date et heure du rendez-vous</ion-label>
      <ion-datetime displayFormat="D MMM YYYY H:mm" min="2019" max="2100"  value="2019-01-17T11:06Z" formControlName="rendDate"></ion-datetime>
    </ion-item>
    <ion-button expand="full" type="submit" 
    [disabled]="!createMessageForm.valid">Confirmer</ion-button>
  </form>
</ion-content>
