<ion-header>
  <ion-toolbar>
    <ion-title>
      A propos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<h1 text-center>MK Coiffure</h1>
<img src="../../assets/imgs/imgkossi/IMG-20190210-WA0044.jpg"/>
<p text-center>
  Je me nomme Houdole kossivi michel dis mk, Suis
maître coiffeur. J'ai mis cette application pour pouvoir
aider tout le monde à bénéficier de main création et de
prendre une réservation de coiffure signer mk. J'espère
que vous allez aimer merci à vous tous.
</p>
<h6 text-end>kossi </h6>

</ion-content>
