<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <button ion-button clear (click)="dismissModal()">Fermer</button>
        </ion-buttons>
    <ion-title>{{img.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-slides class="image-slider" loop="true" slidesPerView="2">
        <ion-slide *ngFor="let img of hairtList.description">
          <!-- <img src="assets/img/{{img}}" class="thumb-img" imageViewer/> -->
          <img src={{img.firstImage}}/>
        </ion-slide>
      </ion-slides>

</ion-content>
